body{
	background-size: 100% 121%;
}
#frm{
	border:solid grey 5px;
	width: 20%;
	border-radius:100px;
	margin:100px auto;
	background:white;
	background-attachment: fixed;
	visibility: 50%;
    padding:100px;
}
#btn{
	background:#337ab7;
	color:white;
	padding:5px;
	margin-lest:66%;
}
	